/* navigation bar css */

#navbarNav{
    justify-content: end;
}
#logo{
    font-size: 35px;
    margin-left: 100px;
}

.navbar-nav{
margin-right: 100px;

}
.nav-item{
    padding: 0px 20px;
}
.nav-item a{

    font-size: 22px;
    color: black !important;
}.navbar{
    height: 100px;
}
